@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../vendor/constants.css);

/* стили блока section1 */
@import url(../blocks/section1/section1.css);
@import url(../blocks/section1/__left-col/section1__left-col.css);
@import url(../blocks/section1/__img-container/section1__img-container.css);
@import url(../blocks/section1/__thumbnails/section1__thumbnails.css);
@import url(../blocks/section1/__thumbnail/section1__thumbnail.css);
@import url(../blocks/section1/__thumbnail-img/section1__thumbnail-img.css);
@import url(../blocks/section1/__thumbnail-img/_selected/section1__thumbnail-img_selected.css);
@import url(../blocks/section1/__big-img/section1__big-img.css);
@import url(../blocks/section1/__product-code/section1__product-code.css);
@import url(../blocks/section1/__slider/section1__slider.css);
@import url(../blocks/section1/__slider-button/section1__slider-button.css);
@import url(../blocks/section1/__slider-left/section1__slider-left.css);
@import url(../blocks/section1/__slider-right/section1__slider-right.css);

/* Стили блока property */
@import url(../blocks/property/property.css);
@import url(../blocks/property/__el/property__el.css);
@import url(../blocks/property/__el/_bestseller/property__el_bestseller.css);
@import url(../blocks/property/__el/_promotion/property__el_promotion.css);
@import url(../blocks/property/__el/_recommendation/property__el_recommendation.css);
@import url(../blocks/property/__el/_frozen/property__el_frozen.css);

/* * {
  outline: 1px solid red;
} */

.body {
  font-family: 'Montserrat';
  box-sizing: border-box;
  max-width: 1512px;
  margin: 0 auto 0;
  background-color: var(--background);
}

.main {
  margin: 220px 0 0 0;
  position: relative;
}
